# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science  
- Understand the basics of Jupyter Notebooks  
- Convert units using Python code  
- Learn about open source tools used in data science  
- Identify common libraries used for data manipulation and visualization

### Some of the popular languages that Data Scientists use are:
1. Python
2. R Program
3. Juila

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| Rstudio |
| Visual studio code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
a = 2 + 3
b = 2 - 3
c = 2 * 3
d = 2 / 3
e = 2 ** 3
f = 2 % 3
g = 2 // 3
print("Addition:", a)
print("Subtraction:", b)
print("Multiplication:", c)
print("Division:", d)
print("Exponentiation:", e)
print("Modulus:", f)
print("Floor Division:", g)

Addition: 5
Subtraction: -1
Multiplication: 6
Division: 0.6666666666666666
Exponentiation: 8
Modulus: 2
Floor Division: 0

In [9]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#his will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

## Author 
Lakshmi Holla

Niveditha Pandith